body {
/*  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS13-HAQZaS2FA_S1sCJeZJPXInj1PcWTjc5OiVbSMS-M1HqOgRgQ");
*/
/*  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS13-HAQZaS2FA_S1sCJeZJPXInj1PcWTjc5OiVbSMS-M1HqOgRgQ") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
*/
}